<template>
  <div class="container-fluid bg-f5 main-pt-pay ">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 bg-white shadow-pay">
        <div class="wrap-boxPay">
          <div class="boxPaytitle">
            <h4 class="pay-title text-center">
              เลือกวิธีการชำระเงินด้านล่าง
            </h4>
          </div>
          <div class="boxPay">
            <label for="typePay1">
              <input type="radio" name="typepay" id="typePay1" value="1" v-model="form.type" v-validate="'required'">
              <div>
                <i class="fal fa-credit-card"></i>
                <p class="t">บัตรเครดิตหรือเดบิต</p>
              </div>
            </label>
            <div class="boxPayhide" v-if="form.type == 1">
              <div class="container-fluid p-0">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="wrap-form-credit">
                      <form class="formCredit" action="">
                        <div class="wrap-input-icon-lock">
                          <input id="numberC" type="text" placeholder="หมายเลขบัตร" v-model="form.no" v-validate="'required|credit_card'"
                            data-vv-as="form.no" data-vv-name="form.no">
                          <font-awesome-icon :icon='["far","lock"]'/>
                          <span v-show="errors.has('form.no')" class="help is-danger">{{ errors.first('form.no') }}</span>
                        </div>
                        <div class="wrap-input-icon-lock">
                          <input id="nameC" type="text" placeholder="ชื่อผู้ถือบัตร" v-model="form.name" v-validate="'required'"
                            data-vv-as="form.name" data-vv-name="form.name">
                            <font-awesome-icon :icon='["far","lock"]'/>
                            <span v-show="errors.has('form.name')" class="help is-danger">{{ errors.first('form.name') }}</span>
                        </div>
                        <div class="wrap-input-icon-lock">
                          <input id="cvcC" type="text" placeholder="เดือน/ปี" v-model="form.ddyy" v-validate="'required|date_format:dd/yy'"
                            data-vv-as="form.ddyy" data-vv-name="form.ddyy">
                          <font-awesome-icon :icon='["far","lock"]'/>
                          <span v-show="errors.has('form.ddyy')" class="help is-danger">{{ errors.first('form.ddyy') }}</span>
                        </div>
                        <div class="wrap-input-icon-lock">
                          <input id="expiryC" type="password" placeholder="รหัสป้องกัน" v-model="form.pwd" v-validate="'required|numeric'"
                            data-vv-as="form.pwd" data-vv-name="form.pwd">
                            <font-awesome-icon :icon='["far","lock"]'/>
                            <span v-show="errors.has('form.pwd')" class="help is-danger">{{ errors.first('form.pwd') }}</span>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div style="height: 100%" class="wrapCredit d-flex align-items-center"></div>

                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="boxPay">
            <label for="typePay2">
              <input type="radio" name="typepay" id="typePay2" value="2" v-model="form.type">
              <div>
                <i class="far fa-university"></i>
                <p class="t">โอนเงินผ่านธนาคาร</p>
              </div>
            </label>
          </div>
          <div class="boxPay">
            <label for="typePay3">
              <input type="radio" name="typepay" id="typePay3" value="3" v-model="form.type">
              <div>
                <i class="far fa-university"></i>
                <p class="t">ชำระเงินผ่านเคาน์เตอร์ </p>
              </div>
            </label>
          </div>
          <div class="boxPay">
            <label for="typePay4">
              <input type="radio" name="typepay" id="typePay4" value="4" v-model="form.type">
              <div>
                <i class="far fa-university"></i>
                <p class="t">เก็บเงินปลายทาง(สำหรับออเดอร์การสั่งสินค้า 600
                  บาทขึ้นไป)</p>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    scrollToTop: true,
    data(){
      return {
        form: {
          type: '',
          no: null,
          name: null,
          ddyy: null,
          pwd: null
        }
      }
    },
    methods: {
      async validateForm() {
        const vm = this;
        const check = await vm.$validator.validateAll().then((result) => {
          if (result) {
            vm.$store.commit('Payment/SET_PAY',vm.form)
            return true;
          }
            vm.$swal({
              type: 'error',
              title: 'ขอภัย !',
              text: 'กรุณาเลือกวิธีการชำระเงิน หรือ กรอกข้อมูลให้ครบถ้วน'
            })
            return false;
        });
        return check;
      }
    }
  }

</script>

<style>

</style>
