<template>
  <div class="container-fluid bg-f5 main-pt-pay ">
    <div class="row justify-content-center pay3mT">
      <div class="col-12">
        <h4 class="pay-title text-center">
          ยืนยันข้อมูลการจัดส่ง
        </h4>
      </div>
      <div class="col-12 col-md-10 bg-white shadow-pay">
        <div class="wrap-boxSend">
          <div class="boxx-send">
            <p>ที่อยู่สำหรับจัดส่ง : </p>
            <p class="address" v-if="Address">
              ที่อยู่ {{ Address.address }}
              จังหวัด {{ Address.province }}
              เขต/อำเภอ {{ Address.amphoe }}
              แขวง/ตำบล {{ Address.district }}
              รหัสไปรษณี {{ Address.zipcode }}
            </p>
            <p>
              <i class="far fa-edit"></i>
            </p>
          </div>
          <div class="boxx-send">
            <p>วิธีการจัดส่ง : </p>
            <p>
              {{ Delivery }}
            </p>
            <p>
              <i class="far fa-edit"></i>
            </p>
          </div>
          <div class="boxx-send">
            <p>รูปแบบการชำระเงิน :</p>
            <p v-if="Payment">
              <span v-if="Payment.type==1">ชำระผ่านบัตรเครดิต / เดรบิต ของ {{Payment.name}} </span>
              <span v-else-if="Payment.type==2">ชำระผ่านการโอนเงิน</span>
              <span v-else-if="Payment.type==3">ชำระผ่านทางเคาน์เตอร์เซอวิส</span>
              <span v-else-if="Payment.type==4">ชำระเงินปลายทาง</span>
            </p>
            <p>
              <i class="far fa-edit"></i>
            </p>
          </div>

        </div>
      </div>
    </div>

    <div class="row justify-content-center pay3mT">
      <div class="col-12">
        <h4 class="pay-title text-center">
          รายการสั่งซื้อ
        </h4>
      </div>
      <div class="col-12 col-md-10 bg-white shadow-pay">
        <div class="pay3">
          <div class="cart-col">
            <div>สินค้า</div>
            <div>ราคา</div>
            <div>จำนวน </div>
            <div>ราคารวม</div>
          </div>
          <div v-for="(item,index) in basket" class="cart-row" :key="index">
            <div class="cr-img">
              <img :src="path+'/Picture/MainProductPicture/'+item.product.p_img" alt="img product">
            </div>
            <div class="cr-title">

              <h5>
                {{item.product.p_name_TH}} {{item.product.p_attr}}
              </h5>
            </div>
            <div class="cr-price">
              <p>
                {{formatMoney(price(item.product))}} BATH
              </p>
            </div>
            <div class="cr-quantity">
              <p>{{item.qty}}</p>
            </div>
            <div class="cr-total">
              <p>
                {{formatMoney(item.qty * price(item.product))}} BATH
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="row justify-content-center pay3mT">
      <div class="col-12">
        <h4 class="pay-title text-center">

        </h4>
      </div>
      <div class="col-12 col-md-10 bg-white shadow-pay">
        <div class="d-flex  justify-content-center">
          <div class="wrap-boxsubmary">
            <div class="boxx-send">
              <p>คูปอง : </p>
              <p class="c-pink">
                <input type="text" placeholder=" พิมพ์แล้วกด Enter" v-model="coupon_text"
                  @keyup="coupon=null;coupon_price=0;">
                <button class="btn btn-success ml-2" @click="addCoupon()" v-if="coupon==null">เพิ่ม</button>
                <button class="btn btn-danger ml-2" @click="clearCoupon()" v-else>เคลียร์</button>
              </p>
            </div>
            <div class="boxx-send">
              <p>จำนวนเงินรวม : </p>
              <p class="c-pink">
                {{formatMoney(totalProduct)}} บาท
              </p>
            </div>
            <div class="boxx-send" v-if="coupon != null">
              <p>ส่วนลด : </p>
              <p class="c-pink">
                {{formatMoney(coupon_price)}} บาท
              </p>
            </div>
            <div class="boxx-send">
              <p>ค่าจัดส่งสินค้า :</p>
              <p class="c-pink">
                ฟรี
              </p>
            </div>
            <div class="boxx-send">
              <p>ยอดที่ต้องชำระ :</p>
              <p class="c-pink">
                {{formatMoney(totalPrice)}} บาท
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
  export default {
    scrollToTop: true,
    data() {
      return {
        coupon: null,
        coupon_text: null,
        coupon_price: 0
      }
    },
    computed: {
      totalPrice() {
        return this.totalProduct - this.coupon_price;
      },
      totalProduct() {
        return this.basket.reduce((sum, item) => {
          const product = item.product;
          let price = 0;
          try {
            price = parseInt(product.flashsale.find((q) => q.flash_sale != null).fsd_price);
          } catch (err) {
            if (product.p_dis_price != null || product.p_dis_price != undefined) {
              price = parseInt(product.p_dis_price);
            } else {
              price = parseInt(product.p_price);
            }
          }
          return sum + (parseInt(item.qty) * price);
        }, 0)
      },
      Delivery() {
        return this.$store.state.Payment.delivery;
      },
      Address() {
        return this.$store.getters['addressByID'](this.$store.state.Payment.address_id)
      },
      Payment() {
        return this.$store.state.Payment.payment;
      }
    },
    watch: {
      coupon(val) {
        if (val != null) {
          const PromotionAnother = val.coupon_usageAnotherPromotion;
          const SaleAnother = val.coupon_usageAnotherPromotion;
          switch (val.coupon_type) {
            case 1:
              this.checkCaseCoupon(val.coupon_product, val.coupon_category, val.coupon_brand).then(allProduct => {
                let coupon_discount = 0;
                for (let i in this.basket) {
                  let product = this.basket[i].product;
                  let qty = this.basket[i].qty;
                  if ((allProduct.find(q => q == product.id)) != undefined) {
                    let p_price = 0;
                    let flashsale_type = false;
                    let discount_type = false;
                    let promotion_type = false;
                    try {
                      p_price = product.flashsale.find((q) => q.flash_sale != null).fsd_price
                      flashsale_type = true;
                    } catch (err) {
                      if (product.p_dis_price != null) {
                        p_price = product.p_dis_price
                        discount_type = true;
                      } else {
                        p_price = product.p_price;
                      }
                    }
                    let p_dis = (((p_price * val.coupon_discount) / 100)) * qty;
                    if (!SaleAnother && flashsale_type || !SaleAnother && discount_type) {
                      p_dis = 0;
                    }
                    coupon_discount += p_dis
                  }
                }
                if (val.coupon_minimum > this.totalProduct && val.coupon_minimum != null) {
                  coupon_discount = 0;
                }
                if (val.coupon_maximum < coupon_discount && val.coupon_maximum != null) {
                  coupon_discount = val.coupon_maximum;
                }
                this.coupon_price = coupon_discount;
              })
              break;
            case 2:
              this.checkCaseCoupon(val.coupon_product, val.coupon_category, val.coupon_brand).then(allProduct => {
                let coupon_discount = 0;
                for (let i in this.basket) {
                  let product = this.basket[i].product;
                  let qty = this.basket[i].qty;
                  if ((allProduct.find(q => q == product.id)) != undefined) {
                    let p_price = 0;
                    let flashsale_type = false;
                    let discount_type = false;
                    let promotion_type = false;
                    try {
                      p_price = product.flashsale.find((q) => q.flash_sale != null).fsd_price
                      flashsale_type = true;
                    } catch (err) {
                      if (product.p_dis_price != null) {
                        p_price = product.p_dis_price
                        discount_type = true;
                      } else {
                        p_price = product.p_price;
                      }
                    }
                    let p_dis = 0;
                    if (p_price > val.coupon_discount) {
                      p_dis = val.coupon_discount * qty;
                    }
                    if (!SaleAnother && flashsale_type || !SaleAnother && discount_type) {
                      p_dis = 0;
                    }
                    coupon_discount += p_dis
                  }
                }
                if (val.coupon_minimum > this.totalProduct && val.coupon_minimum != null) {
                  coupon_discount = 0;
                }
                if (val.coupon_maximum < coupon_discount && val.coupon_maximum != null) {
                  coupon_discount = val.coupon_maximum;
                }
                this.coupon_price = coupon_discount;
              })
              break;
            case 3:
              let dis = 0;
              if (val.coupon_minimum <= this.totalProduct && val.coupon_minimum != null) {
                dis = (this.totalProduct / 100) * val.coupon_discount
              }
              if (val.coupon_maximum != null && dis > val.coupon_maximum) {
                this.coupon_price = val.coupon_maximum
              } else {
                this.coupon_price = dis
              }
              break;
            case 4:
              if (val.coupon_minimum <= this.totalProduct && val.coupon_minimum != null) {
                this.coupon_price = val.coupon_discount
              }
              break;
            default:

          }
        }
        this.$nuxt.$loading.finish();
      }
    },
    methods: {
      async addCoupon() {
        await this.$nuxt.$loading.start()
        const vm = await this;
        await vm.$axios.$get('/couponByText?u_id='+vm.user.id +'&coupon=' + vm.coupon_text)
          .then((res) => {
            if(res.limit){
              vm.$swal({
                type: 'error',
                title: 'ขอภัย !',
                text: res.limit
              })
              this.$nuxt.$loading.finish();
            }
            else{
              vm.coupon = res;
            }

          })
          .catch(err => {
            vm.$swal({
              type: 'error',
              title: 'ขอภัย !',
              text: 'คูปองนี้ยังไม่เปิดใช้งาน หรือ ไม่มีคูปองนี้อยู่ในระบบ'
            })
            this.$nuxt.$loading.finish();
            vm.coupon = null;
          })
      },
      clearCoupon() {
        this.coupon_text = null;
        this.coupon = null;
        this.coupon_price = 0;
      },
      price(item) {
        let price = 0;
        try {
          price = parseInt(item.flashsale.find((q) => q.flash_sale != null).fsd_price);
        } catch (err) {
          if (item.p_dis_price != null || item.p_dis_price != undefined) {
            price = parseInt(item.p_dis_price);
          } else {
            price = parseInt(item.p_price);
          }
        }
        return price;
      },
      async checkCaseCoupon(product, category, brand) {
        let allProduct = await [];
        try {
          for (let i in brand) {
            let productByBrand = await this.$store.getters['Product/ProductByBrand'](brand[i]);
            if (productByBrand.length > 0) {
              for (let j in productByBrand) {
                allProduct.push(productByBrand[j].id)
              }
            }
          }
        } catch (err) {

        }

        try {
          for (let i in category) {
            let ProductByCID = await this.$store.getters['Product/ProductByCID'](category[i]);
            if (ProductByCID.length > 0) {
              for (let j in ProductByCID) {
                allProduct.push(ProductByCID[j].id)
              }
            }
          }
        } catch (err) {

        }

        try {
          for (let i in product) {
            allProduct.push(product[i])
          }
        } catch (err) {

        }
        return await allProduct;
      }
    }
  }

</script>

<style>

</style>
