<template>
  <div class="wrap-slideBar" :class="{'active' : active}" v-if="user!=false">
    <div class="slideBar-toggle">
      <div class="slideBar-header" @click="$emit('toogleBasketBar')">
        <div class="d-flex align-items-center">
          <div class="icon">
            <font-awesome-icon :icon="['fal', 'angle-left']" />
          </div>
          <p>
            cart list
          </p>
        </div>
      </div>
      <div class="slideBar-box" v-for="(items,index) in basket" :key="index" :title="items.product.p_name_TH + items.product.p_attr">
        <div to="/">
          <figure>
            <img :src="path+'/Picture/MainProductPicture/'+items.product.p_img" alt="img-wish">
          </figure>
          <div>
            <h5 class="title">
              {{items.product.p_name_TH.substr(0,60)}} {{items.product.p_attr}}
            </h5>
            <p class="mini-title">
              {{items.product.brand.brand_name_EN}}
            </p>
            <div class="row wrap-price d-flex justify-content-between px-3">
              <div v-html="PriceType(items.product)"></div>
              <div class="row d-flex justify-content-between align-items-center px-3">
                <font-awesome-icon :icon="['fal', 'plus-square']" size="2x" @click="increment(index)"/>
                <div class="mx-2" style="font-size:24px;">{{items.qty}}</div>
                <font-awesome-icon :icon="['fal', 'minus-square']" size="2x" @click="decrement(index)"/>
              </div>
            </div>
          </div>
        </div>
        <div>
          <p class="icon-delete" @click="basketRemove(items.id)">
            <font-awesome-icon :icon="['far', 'trash-alt']" />
          </p>
        </div>
      </div>
    </div>
    <div class="slideBar-footer">
      <div>
        <p>
          สินค้าจำนวนทั้งหมด
          <span>{{allitems}}</span>
          ชื้น
        </p>

        <p>
          จำนวนเงิน
          <span>{{formatMoney(totalPrice)}}</span>
          บาท
        </p>
      </div>
      <button @click="goToPay()" class="btn-pink">ตกลงสั่งซื้อ</button>
    </div>
  </div>
</template>

<script>
  export default {
    name: "BasketBar",
    props: {
      active: Boolean
    },
    data() {
      return {

      }
    },
    computed: {
      allitems() {
        return this.basket.reduce((sum, q) => {
          return sum + parseInt(q.qty)
        }, 0)
      },
      totalPrice() {
        return this.basket.reduce((sum, item) => {
          const product = item.product;
          let price = 0;
          try {
            price = parseInt(product.flashsale.find((q) => q.flash_sale != null).fsd_price);
          } catch (err) {
            if (product.p_dis_price != null || product.p_dis_price != undefined) {
              price = parseInt(product.p_dis_price);
            } else {
              price = parseInt(product.p_price);
            }
          }
          return sum + (parseInt(item.qty) * price);
        }, 0)
      }
    },
    mounted() {

    },
    methods: {
      increment(index){
        let idBasket = this.basket[index].id;
        this.$store.commit('IncrementBasket',idBasket)
      },
      decrement(index){
        let idBasket = this.basket[index].id;
        this.$store.commit('DecrementBasket',idBasket)
      },
      async goToPay() {
        if(this.basket.length == 0) {
          return false;
        }
        else{
          await this.$emit('toogleBasketBar')
          await this.$router.push('/Pay')
        }

      }
    }
  }

</script>

<style>
  .input-num {
    border-radius: 4px;
    border: 1px solid #c3c3c3;
    width: 70px;
    height: 30px;
    padding: 0px 10px
  }

</style>
