<template>
  <div class="container">
    <ul class="breadcrumb">
      <li>
        <nuxt-link to="/"><font-awesome-icon :icon="['fa', 'home']" /> &nbsp;{{$t('nav.home')}}</nuxt-link>
      </li>
      <li>
        {{des}}
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    props : {
      des : String
    }
  }

</script>

<style>

</style>
