<template>
  <!-- Slide bar toggle -->
  <div class="wrap-slideBar" :class="{'active':active}" v-if="user!=false">
    <div class="slideBar-toggle love">
      <div class="slideBar-header" @click="$emit('toogleFollowBar')">
        <div class="d-flex justify-content-between align-items-center">
          <div class="icon">
            <font-awesome-icon :icon="['fal', 'angle-left']" />
          </div>
          <p>
            Follow list
          </p>
        </div>
      </div>
      <div class="slideBar-box" v-for="(items,index) in follow" :key="index" :title="items.product.p_name_TH + items.product.p_attr">
        <p class="icon-heart">
          <font-awesome-icon :icon="['fas','heart']" />
        </p>
        <nuxt-link to="/">
          <figure>
            <img :src="path+'/Picture/MainProductPicture/'+items.product.p_img" alt="img-wish">
          </figure>
          <div>
            <h5 class="title">
              {{items.product.p_name_TH.substr(0,60)}} {{items.product.p_attr}}
            </h5>
            <p class="mini-title">
              {{items.product.brand.brand_name_EN}}
            </p>
            <div class="wrap-price">
              <p class="price">
                {{formatMoney(items.product.p_price)}} บาท
                <!-- <span class="cut-percent">
                  59%
                </span> -->
              </p>
              <!-- <p class="cut-price">
                100 บาท
              </p> -->
            </div>
          </div>
        </nuxt-link>
        <div>
          <p class="icon-delete" @click="loveAdd(items.product)">
            <font-awesome-icon :icon="['far', 'trash-alt']" />
          </p>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
  export default {
    name: "FollowBar",
    props: {
      active: Boolean
    },
    methods: {

    }
  }

</script>

<style>

</style>
