<template>
  <div class="header">
    <div class="container-fluid p-0 bg-f5 wrap-header-mobile">
      <div class="d-flex justify-content-between align-items-center d-lg-none">
        <a class="iconMobile" href="#menu">
          <div class="icon">
              <font-awesome-icon :icon="['far', 'bars']"/>
          </div>
        </a>
        <div class="d-flex align-items-center">
          <div class="header-lang">
            <img src="~/assets/img/flag_en.png" alt="">
          </div>
          <div class="d-flex align-items-center wrap-main-icon">
            <div class="main-icon i-love">
              <div class="icon">
                <font-awesome-icon :icon="['fal', 'heart']"/>
              </div>
              <span>7</span>
            </div>
            <div class="main-icon i-cart">
              <div class="icon">
                <font-awesome-icon :icon="['far', 'shopping-basket']"/>
              </div>
              <span>8</span>
            </div>
            <a href="" class="linkCart">
              ตระกร้าสินค้า
            </a>
          </div>
        </div>
      </div>
      <div class="container p-0">
        <div class="d-none d-lg-flex justify-content-between">
          <div class="d-flex">
            <nuxt-link class="link" to="/">{{ $t('nav.home') }}</nuxt-link>
            <nuxt-link class="link" to="/Service/TermService">{{ $t('nav.termservice') }}</nuxt-link>
            <nuxt-link class="link" to="/Service/Howtopay">{{ $t('nav.howtopay') }}</nuxt-link>
            <nuxt-link class="link" to="/Contact">{{ $t('nav.contact') }}</nuxt-link>
          </div>
          <div class="d-flex">
            <div class="header-social">
              <a class="link" href="">
                <font-awesome-icon :icon="['fab', 'facebook']" />
              </a>
              <a class="link" href="">
                <font-awesome-icon :icon="['fab', 'twitter']" />
              </a>
              <a class="link" href="">
                <font-awesome-icon :icon="['fab', 'instagram']" />
              </a>
              <a class="link" href="">
                <font-awesome-icon :icon="['fab', 'youtube']" />
              </a>
            </div>
            <nuxt-link to="/auth/Login" class="user-link" v-if="user == false">
              <div class="d-flex">
                <div class="icon">
                  <font-awesome-icon :icon="['fa', 'user']" />
                </div>
                <p class="title">
                  {{ $t('nav.member') }}
                </p>
              </div>
              <div class="icon-down">
                <font-awesome-icon :icon="['fa', 'caret-down']" />
              </div>
            </nuxt-link>
            <a class="user-link" @click="logout()" v-else>Logout</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container p-0 d-none d-lg-flex">
      <div class="d-flex justify-content-between align-items-center w100">
        <nuxt-link to="/">
          <img src="~/assets/img/logo.png" alt="">
        </nuxt-link>

        <div class="seach-header">
          <input type="text" name="h-search" id="h-search" :placeholder="$t('nav.search')" v-model="search">
          <div class="icon">
            <font-awesome-icon :icon="['fa', 'search']" />
          </div>
          <ul :class="{ active: isFinded }"  v-click-outside="outside">
            <small v-show="filteredList.filter(q=>q.type===1).length > 0"> {{ $t('nav.brand') }} </small>
            <li v-for="(find,index) in filteredList.filter(q=>q.type===1).slice(0,2)" :key="'brand'+index" @click="goTofind(find.link)">
              <div class="find-body">
                <img :src="path+find.img" />
                <p>{{find.show}}</p>
              </div>
            </li>
            <small v-show="filteredList.filter(q=>q.type===2).length > 0"> {{ $t('nav.product') }} </small>
             <li v-for="(find,index) in filteredList.filter(q=>q.type===2).slice(0,7)" :key="'product'+index" @click="goTofind(find.link)">
              <div class="find-body">
                <img :src="path+find.img" />
                <p>{{find.show}}</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="d-flex align-items-center">
          <locale-dropdown/>
          <div class="d-flex align-items-center wrap-main-icon">
            <div class="main-icon i-love" @click="followClick()">
              <div class="icon">
                <font-awesome-icon :icon="['fa', 'heart']" />
              </div>
              <span v-if="user!=false">{{follow.length}}</span>
            </div>
            <div class="main-icon i-cart" @click="basketShowClick()">
              <div class="icon">
                <font-awesome-icon :icon="['fa', 'shopping-basket']" />
              </div>
              <span v-if="user!=false">{{basket.length}}</span>
            </div>
            <div class="linkCart" @click="basketShowClick()">
              {{ $t('nav.basket') }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid p-0 d-none d-lg-flex sub-menuBorder">
      <div class="container p-0">
        <div class="header-sub-menu">
          <div class="title-header-sub-menu">
            {{ $t('nav.category') }}
            <ul class="sub1">
              <category-bar v-for="(items,index) in Category" :category="items" :key="index" :color="'white'"></category-bar>
            </ul>
          </div>
          <div class="d-flex menu-mid">
            <nuxt-link to="/Brand">{{ $t('nav.brand') }}</nuxt-link>
            <nuxt-link to="/Product/New">{{ $t('nav.newproduct') }}</nuxt-link>
            <nuxt-link to="/Product/Hot">{{ $t('nav.hotproduct') }}</nuxt-link>
            <a href="">{{ $t('nav.promotion') }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import CategoryBar from './CategoryBar.vue'
  import LocaleDropdown from './LocaleDropdown.vue'
  export default {
    name: 'NavBar',
    components: {
      'category-bar': CategoryBar,
      LocaleDropdown
    },
    data(){
      return {
        search: ''
      }
    },
    computed: {
      filteredList() {
        if(this.search === ''){
          return [];
        } else {
          return this.ProductNBrand.filter(post => {
            return post.key.toLowerCase().includes(this.search.toLowerCase())
          })
          }
      },
      isFinded() {
        if(this.filteredList.length===0){
          return false
        }
        return true;
      },
      Category() {
        let store = this.$store.getters['Product/ParentCategory'];
        return store;
      },
      ProductNBrand(){
        let ObjLink = [];
        let store = this.$store.state.Product.brand;
        let store2 = this.$store.state.Product.product;
        for(let i in store){
          ObjLink.push({
            link: '/Brand/'+store[i].id,
            key: store[i].brand_name_EN,
            show: store[i].brand_name_EN,
            img: '/Picture/BrandPicture/'+store[i].brand_img,
            type: 1
          })
        }
        for(let j in store2){
          ObjLink.push({
            link: '/Product/'+store2[j].id,
            key: store2[j].brand.brand_name_EN+store2[j].p_name_TH+store2[j].p_name_EN,
            show: this.lang === 'th'?store2[j].p_name_TH + store2[j].p_attr:store2[j].p_name_EN + store2[j].p_attr,
            img: '/Picture/MainProductPicture/'+store2[j].p_img,
            type: 2
          })
        }
        return ObjLink;
      }
    },
    async beforeCreate() {
      this.$store.dispatch('Product/getCategory');
      this.$store.dispatch('Product/getProduct');
      this.$store.dispatch('Product/getBrand');
    },
    methods: {
      followClick(){
        if(this.user == false) return this.$router.push('/auth/Login')
        this.$emit("toogleFollowBar");
      },
      basketShowClick(){
        if(this.user == false) return this.$router.push('/auth/Login')
        this.$emit("toogleBasketBar");
      },
      async logout() {
        const vm = this;
        await vm.$axios.$post('auth/logout')
          .then((res) => {

          })
          .catch((err) => {

          })
          .then(()=>{
            vm.$cookies.remove('token')
            vm.$store.commit('SET_TOKEN', false);
            vm.$store.commit('SET_USER', false);
            vm.$axios.setToken(false);
            vm.$router.push('/auth/Login');
          });
      },
      goTofind(link) {
        this.search = ''
        this.$router.push(link)
      },
      outside: function(e) {
        this.search = '';
      },
    },
    directives: {
      'click-outside': {
        bind: function(el, binding, vNode) {
          // Provided expression must evaluate to a function.
          if (typeof binding.value !== 'function') {
            const compName = vNode.context.name
            let warn = `[Vue-click-outside:] provided expression '${binding.expression}' is not a function, but has to be`
            if (compName) { warn += `Found in component '${compName}'` }

            console.warn(warn)
          }
          // Define Handler and cache it on the element
          const bubble = binding.modifiers.bubble
          const handler = (e) => {
            if (bubble || (!el.contains(e.target) && el !== e.target)) {
              binding.value(e)
            }
          }
          el.__vueClickOutside__ = handler

          // add Event Listeners
          document.addEventListener('click', handler)
        },

        unbind: function(el, binding) {
          // Remove Event Listeners
          document.removeEventListener('click', el.__vueClickOutside__)
          el.__vueClickOutside__ = null

        }
      }
    }
  }

</script>

<style>

</style>
