<template>
  <no-ssr>
    <div>
      <header class="banner">
        <h2 class="title">{{$t('nav.hotproduct')}}</h2>
      </header>

      <bread-crumb :des="$t('nav.hotproduct')"></bread-crumb>

      <!-- <div style="margin-bottom: 14px" class="container">
        <img :src="path+'/Picture/CategoryPicture/'+CategoryByID.c_img" alt v-if="CategoryByID.c_img != null">
      </div> -->

      <div class="container">
        <div class="row justify-content-end">
          <div class="col-12 col-md-9">
            <div class="container-fluid">
              <div style="margin-bottom: 14px" class="d-flex justify-content-between align-items-center">
                <div>SHOWING ALL {{Product.length}} RESULTS</div>
                <div>
                  <select v-model="sort">
                    <option :value="1">SORT BY</option>
                    <option :value="2">ราคาต่ำไปสูง</option>
                    <option :value="3">ราคาสูงไปต่ำ</option>
                    <option :value="4">สินค้ามาใหม่</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-3">
            <div class="sidebar-cat">
              <h5 class="title">
                <font-awesome-icon :icon="['far', 'bars']"/>
                CATEGORIES
              </h5>
              <ul class="sidebar-listCat">
                <nuxt-link tag="li" to="/Product/New">
                  <font-awesome-icon :icon="['fas', 'star']"/>
                    &nbsp;<span>สินค้ามาใหม่</span>
                </nuxt-link>
                <nuxt-link tag="li" to="/Product/Hot">
                  <font-awesome-icon :icon="['fas', 'gift']"/>
                    &nbsp;<span>สินค้าขายดี</span>
                </nuxt-link>
              </ul>
              <cat-side v-for="(items,index) in ParentCategory" :key="index" :item="items"/>
              <!-- <div class="d-flex flex-column list-img">
                <a href>
                  <img src="https://via.placeholder.com/250" alt>
                </a>
                <a href>
                  <img src="https://via.placeholder.com/250" alt>
                </a>
                <a href>
                  <img src="https://via.placeholder.com/250" alt>
                </a>
              </div>-->
            </div>
          </div>

          <div class="col-12 col-md-9" v-if="Product.length > 0">
            <div class="container-fluid table-product p-0">
              <paginate v-if="paginateShow" ref="paginator" name="FilterList" :list="FilterList" :per="8" class="row no-gutters">
                <div v-for="(items,i) in paginated('FilterList')" :key="i" class="col-12 col-4 col-xl-3">
                  <div class="product hot" :title="items.p_name_TH + ' ' + items.p_attr">
                    <div class="wrap-love" @click="loveAdd(items)">
                      <div class="iconActive" v-if="checkLove(items.id)==true">
                        <font-awesome-icon :icon="['fas', 'heart']" />
                      </div>
                      <div class="icon" v-else>
                        <font-awesome-icon :icon="['fal', 'heart']" />
                      </div>
                    </div>
                    <nuxt-link :to="'/Product/'+items.id">
                      <figure class="product_img">
                        <img :src="path+'/Picture/MainProductPicture/'+items.p_img" :alt="items.p_name_TH">
                      </figure>
                      <div class="product_body">
                        <h3 class="title">{{items.p_name_TH.substr(0,20)}} {{items.p_attr}}</h3>
                        <p class="brand">{{items.brand.brand_name_EN}}</p>
                        <div class="product_price">
                          <div class="d-flex flex-column justify-content-center">
                            <p class="price">{{formatMoney(items.p_price)}} บาท</p>
                            <!-- <p class="cut">
                              <span>{{items.p_dis_price}} บาท</span>
                            </p>-->
                          </div>
                          <!-- <p class="sell">
                            -10%
                          </p>-->
                        </div>
                      </div>
                    </nuxt-link>
                    <p class="product_btn-buy" @click="basketAdd(items)">
                      <font-awesome-icon :icon="['far', 'shopping-cart']" />
                      <span>{{ $t('cart') }}</span>
                    </p>
                  </div>
                </div>
              </paginate>
            </div>
          </div>

        </div>
      </div>

      <div class="container">
        <div class="d-flex justify-content-center justify-content-md-end">
          <paginate-links class="pagination" for="FilterList" :limit="5" :show-step-links="true" :async="true"></paginate-links>
        </div>
      </div>
    </div>
  </no-ssr>
</template>

<script>
  import Breadcrumb from "~/components/breadcumb.vue";
  import CatSide from "~/components/CategorySide.vue";
  export default {
    async fetch(context) {
      await context.store.dispatch("Product/getProduct");
      await context.store.dispatch("Product/getCategory");
    },
    components: {
      "bread-crumb": Breadcrumb,
      "cat-side": CatSide
    },
    data() {
      return {
        paginate: ['FilterList'],
        sort : 1,
        paginateShow : false
      }
    },
    computed: {
      Product() {
        let store = this.$store.getters["Product/hotProduct"];
        return store;
      },
      FilterList() {
        if(this.sort == 1){
          return this.Product
        }else if(this.sort == 2){
          return _.orderBy(this.Product, ['p_price'],['asc']);
        }else if(this.sort == 3){
          return _.orderBy(this.Product, ['p_price'],['desc']);
        }else if(this.sort == 4){
          return _.orderBy(this.Product, ['created_at'],['desc']);
        }

      },
      ParentCategory() {
        return this.$store.getters['Product/ParentCategory'];
      }
    },
    watch: {
      paginate(val) {
        this.paginateShow = true
      }
    },
    updated() {
      try {
        let currentPage = this.$refs.paginator.currentPage;
        let list = this.$refs.paginator.list;
        if (currentPage < 0 && list.length != 0) {
          this.$refs.paginator.goToPage(1);
        }
      } catch (Exception) {}
    },
    scrollToTop: true
  };

</script>

<style>
</style>
