<template>
  <no-ssr>
    <div>
      <header class="banner">
        <h2 class="title">
          {{$t('registerpage.title')}}
        </h2>
      </header>
      <bread-crumb :des="$t('registerpage.title')"></bread-crumb>
      <div class="container card-register bg-heart">
        <div class="row justify-content-end">
          <div class="col-12 col-md-7 col-lg-5">
            <div>
              <form class="form-register form-focus" @submit.prevent="register">
                <div class="register-header">
                  <h2 class="title">
                    register
                  </h2>
                  <nuxt-link to="/auth/Login">
                    <div class="icon">
                      <font-awesome-icon :icon="['fal', 'angle-right']"/>
                    </div>
                    <p>
                      login
                    </p>
                  </nuxt-link>

                </div>
                <div class="wrap-input">
                  <label for="">email</label>
                  <input type="email" name="" id="r-email" v-model="email" placeholder="email" v-validate="'required|email'"
                    data-vv-name="email">
                  <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
                </div>
                <div class="wrap-input">
                  <label for="">name</label>
                  <input type="text" id="r-username" placeholder="name" v-model="name" v-validate="'required'"
                    data-vv-name="name">
                  <span v-show="errors.has('name')" class="help is-danger">{{ errors.first('name') }}</span>
                </div>
                <div class="wrap-input">
                  <label for="">password</label>
                  <input type="password" id="r-password" name="password" placeholder="password" v-model="password"
                    v-validate="'required'" data-vv-name="password" ref="password">
                  <span v-show="errors.has('password')" class="help is-danger">{{ errors.first('password') }}</span>
                </div>
                <div class="wrap-input">
                  <label for="">confirm password</label>
                  <input type="password" name="" id="r-Cpassword" placeholder="confirm password" v-model="re_password"
                    v-validate="'required|confirmed:password'" data-vv-as="password" data-vv-name="re_password">
                  <span v-show="errors.has('re_password')" class="help is-danger">{{ errors.first('re_password') }}</span>
                </div>
                <div class="wrap-btn">
                  <button type="submit">
                    register
                  </button>
                </div>

              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </no-ssr>
</template>

<script>
  import Breadcrumb from '~/components/breadcumb.vue'
  export default {
    name: "Register",
    middleware: 'guest',
    components: {
      'bread-crumb': Breadcrumb
    },
    data() {
      return {
        email: null,
        password: null,
        name: null,
        re_password: null
      }
    },
    computed: {

    },
    methods: {
      async register() {
        var vm = this
        await vm.$validator.validate().then(valid => {
          if (valid) {
            vm.$axios.$post('auth/register', {
              name: vm.name,
              email: vm.email,
              password: vm.password
            }).then((res) => {
              vm.$store.commit('SET_TOKEN', res.token);
              vm.$store.commit('SET_USER', res.data);
              vm.$cookies.set('token', res.token, {
                maxAge: 60 * 60 * 24 * 7
              })
              vm.$axios.setToken(res.token, 'Bearer');
              vm.$router.push('/')
            }).catch((err) => {
              vm.$swal({
                type : "error",
                title : "ล้มเหลว !",
                text : "การสมัครล้มเหลว หรือ Email ถูกใช้ไปแล้ว"
              })
            });
          }
        });
      },
    },
    scrollToTop: true
  }

</script>

<style>
  .left-arrow,
  .right-arrow,
  .number {
    cursor: pointer;
  }

  .is-danger {
    color: red !important;
    font-size: 14px;
    margin-left: 5px;
    margin-top: 5px;
  }

</style>
