<template>
  <div id="app" class="thePage">
    <no-ssr>
      <main-NavBar @toogleFollowBar="dooFollowBar" @toogleBasketBar="dooBasketBar"/>
    </no-ssr>

      <nuxt />

    <no-ssr>

      <main-footer />

      <follow-bar @toogleFollowBar="dooFollowBar" :active="activeFollowBar"/>
      <basket-bar @toogleBasketBar="dooBasketBar" :active="activeBasketBar"/>

    </no-ssr>

  </div>
</template>

<script>
import NavBar from "~/components/NavBar";
import Footer from "~/components/Footer";
import FollowBar from "~/components/FollowBar";
import BasketBar from "~/components/BasketBar";
export default {
  layout: "app",
  components: {
    "main-NavBar": NavBar,
    "main-footer": Footer,
    "follow-bar" : FollowBar,
    "basket-bar" : BasketBar
  },
  data(){
    return{
      activeFollowBar : false,
      activeBasketBar : false
    }
  },
  methods : {
    dooFollowBar(){
      this.activeFollowBar = !this.activeFollowBar
    },
    dooBasketBar(){
      this.activeBasketBar = !this.activeBasketBar
    }
  }
};
</script>

<style></style>
