<template>
  <no-ssr>
    <div>
      <header class="banner">
        <h2 class="title">
          {{$t('foot.blog')}}
        </h2>
      </header>
      <bread-crumb :des="$t('foot.blog')"></bread-crumb>

      <div class="container-fluid blogPage">
        <paginate v-if="paginateShow" ref="paginator" name="News" :list="News" :per="30" class="row">
          <div v-for="(items,i) in paginated('News')" :key="i" class="col-12 col-md-4">
            <nuxt-link :to="'/Blog/'+items.id" class="thumBlog thumBlog--blue">
              <figure>
                <img src="https://via.placeholder.com/300x300" alt v-if="items.news_img == null">
                <img :src="path+'/Picture/NewsPicture/'+items.news_img" alt v-else>
              </figure>
              <p class="date">{{formatDate(items.created_at)}}</p>
              <p class="description">{{items.news_title_TH.substr(0,150)}}</p>
            </nuxt-link>
          </div>
        </paginate>
      </div>

      <div class="container">
        <div class="d-flex justify-content-center">
          <paginate-links class="pagination" for="News" :limit="5" :show-step-links="true" :async="true"></paginate-links>
        </div>
      </div>
    </div>
  </no-ssr>
</template>

<script>
  import Breadcrumb from '~/components/breadcumb.vue'
  import {
    mapGetters
  } from "vuex";
  export default {
    async fetch(context) {
      await context.store.dispatch("News/getNews");
    },
    data() {
      return {
        paginate: ['News'],
        paginateShow: false
      }
    },
    components: {
      'bread-crumb': Breadcrumb
    },
    computed: {
      ...mapGetters({
        News: "News/newsPublic"
      })
    },
    watch: {
      paginate(val) {
        this.paginateShow = true
      }
    },
    updated() {
      try {
        let currentPage = this.$refs.paginator.currentPage;
        let list = this.$refs.paginator.list;
        if (currentPage < 0 && list.length != 0) {
          this.$refs.paginator.goToPage(1);
        }
      } catch (Exception) {}
    },
    scrollToTop: true
  }

</script>

<style>

</style>
