<template>
  <no-ssr>
    <div>
      <header class="banner">
        <h2 class="title">
          {{$t('foot.about')}}
        </h2>
      </header>
      <bread-crumb :des="$t('foot.about')"></bread-crumb>
      <div class="container">
        <div v-html="Content.content_detail_TH">

        </div>
      </div>
      <div class="container list-about px-5 mt-5">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="box">
              <div class="icon">
                <font-awesome-icon :icon="['far', 'clock']" />
              </div>
              <div>
                <h5 class="title">
                  24/7 SUPPORT
                </h5>
                <p class="des">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                  eget dolor.
                </p>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4">
            <div class="box">
              <div class="icon">
                <font-awesome-icon :icon="['far', 'usd-circle']" />
              </div>
              <div>
                <h5 class="title">
                  24/7 SUPPORT
                </h5>
                <p class="des">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                  eget dolor.
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="box">
              <div class="icon">
                <font-awesome-icon :icon="['far', 'dolly-flatbed-alt']" />
              </div>
              <div>
                <h5 class="title">
                  24/7 SUPPORT
                </h5>
                <p class="des">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                  eget dolor.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </no-ssr>
</template>

<script>
  import Breadcrumb from '~/components/breadcumb.vue'
  export default {
    name: 'About',
    components: {
      'bread-crumb': Breadcrumb
    },
    async fetch(context) {
      await context.store.dispatch('Content/getContent');
    },
    data() {
      return {

      }
    },
    mounted() {

    },
    computed: {
      Content() {
        let store = this.$store.getters['Content/contentByName']('About');
        return store;
      }
    },
    scrollToTop: true
  }

</script>
