<template>
  <no-ssr>
    <div>
      <header class="banner">
        <h2 class="title">
          {{$t('foot.contact')}}
        </h2>
      </header>
      <bread-crumb :des="$t('foot.contact')"></bread-crumb>
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 bor-r-contact">
            <div class="p-contact">
              <div>
                <img class="logo-contact" src="~/assets/img/big-logo.png" alt="logo">
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure nulla voluptatum,
                  vero quos quam exercitationem inventore modi odio esse eligendi, amet ratione.
                  Eligendi corrupti pariatur magnam ipsum, eos nam cupiditate?
                </p>
                <div class="contact-list">
                  <div>
                    <a href="">
                      <div class="icon">
                        <font-awesome-icon :icon="['fas','phone']" />
                      </div>
                      <p>
                        000-0000000
                      </p>
                    </a>
                    <a href="">
                      <div class="icon">
                        <font-awesome-icon :icon="['fab','facebook']" />
                      </div>
                      <p>
                        facebook link
                      </p>
                    </a>
                  </div>
                  <div>
                    <a href="">
                      <div class="icon">
                        <font-awesome-icon :icon="['fas','phone']" />
                      </div>
                      <p>
                        000-0000000
                      </p>
                    </a>
                    <a href="">
                      <div class="icon">
                        <font-awesome-icon :icon="['fab','line']" />
                      </div>
                      <p>
                        line id
                      </p>
                    </a>
                  </div>
                  <div>
                    <a href="">
                      <div class="icon">
                        <font-awesome-icon :icon="['fas','clock']" />
                      </div>
                      <p>
                        time
                      </p>
                    </a>
                    <a href="">
                      <div class="icon">
                        <font-awesome-icon :icon="['fab','instagram']" />
                      </div>
                      <p>
                        instagram
                      </p>
                    </a>
                  </div>
                  <div>
                    <a href="">
                      <div class="icon">
                        <font-awesome-icon :icon="['fas','envelope']" />
                      </div>
                      <p>
                        email
                      </p>
                    </a>
                    <a href="">
                      <div class="icon">
                        <font-awesome-icon :icon="['fab','twitter']" />
                      </div>
                      <p>
                        twitter
                      </p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="p-contact">
              <form class="form-contact" @submit.prevent="sendMailbox">
                <div class="d-md-flex">
                  <div class="wrap-input mr-md">
                    <label for="">name</label>
                    <input type="text" v-model="firstName" placeholder="name" v-validate="'required'"
                      data-vv-name="firstName">
                    <span v-show="errors.has('firstName')" class="help is-danger">{{ errors.first('firstName') }}</span>
                  </div>
                  <div class="wrap-input">
                    <label for="">last name</label>
                    <input type="text" v-model="lastName" placeholder="last name" v-validate="'required'"
                      data-vv-name="lastName">
                    <span v-show="errors.has('lastName')" class="help is-danger">{{ errors.first('lastName') }}</span>
                  </div>
                </div>

                <div class="wrap-input">
                  <label for="">email</label>
                  <input type="email" v-model="Email" placeholder="email" v-validate="'required|email'"
                    data-vv-name="Email">
                  <span v-show="errors.has('Email')" class="help is-danger">{{ errors.first('Email') }}</span>
                </div>
                <div class="wrap-input">
                  <label for="">subject</label>
                  <input type="text" v-model="Subject" placeholder="subject" v-validate="'required'"
                    data-vv-name="Subject">
                  <span v-show="errors.has('Subject')" class="help is-danger">{{ errors.first('Subject') }}</span>
                </div>
                <div class="wrap-input">
                  <label for="">message</label>
                  <textarea v-model="Message" rows="10" placeholder="message" v-validate="'required'"
                    data-vv-name="Message"></textarea>
                  <span v-show="errors.has('Message')" class="help is-danger">{{ errors.first('Message') }}</span>
                </div>
                <div class="wrap-input">
                  <button type="submit">
                    send
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </no-ssr>
</template>

<script>
  import Breadcrumb from '~/components/breadcumb.vue'
  export default {
    name: "Contact",
    components: {
      'bread-crumb': Breadcrumb
    },
    data() {
      return {
        firstName: null,
        lastName: null,
        Email: null,
        Subject: null,
        Message: null
      }
    },
    methods: {
      async sendMailbox() {
        var vm = this
        await vm.$validator.validate().then(valid => {
          if (valid) {
            vm.$axios.$post('mailboxs', {
                name: vm.firstName + ' ' + vm.lastName,
                email: vm.Email,
                subject: vm.Subject,
                message: vm.Message
              })
              .then((res) => {
                vm.$swal({
                  type: "success",
                  title: "สำเร็จ !",
                  text: "กรุณารอการติดต่อกลับจากเจ้าหน้าที่"
                })
              })
              .catch((err) => {
                vm.$swal({
                  type: "error",
                  title: "ขออภัย !",
                  text: "ส่งข้อความล้มเหลว"
                })
              })
              .then(() => {
                vm.clear();
              });
          }
        });
      },
      async clear() {
        this.firstName = await null;
        this.lastName = await null;
        this.Subject = await null;
        this.Message = await null;
        this.Email = await null;
        const x = await this.$validator.errors.clear();
        const y = await this.$validator.errors.clear();
      }
    },
    scrollToTop: true
  }

</script>

<style>

</style>
