<template lang="html">
  <no-ssr>
    <section>
      <div>
        <div class="dot-cycle dot-cycle-blue wrap-slickWelcome">

          <slick ref="slickSlider" :options="slickOptionsSlider">
            <a v-for="(items,index) in BannerSlide" :key="index" class="d-block" :href="items.bh_link" target="_blank">
              <img :src="path+'/Picture/BannerPicture/'+items.bh_img" alt>
            </a>
          </slick>

        </div>
        <div>
          <div class="d-block">
            <a :href="BannerTopPage.bh_link" target="_blank">
              <img :src="path+'/Picture/BannerPicture/'+BannerTopPage.bh_img" alt>
            </a>
          </div>
        </div>

        <div class="wrap-newSlider" v-show="NewProduct.length != 0">
          <div class="container-fluid titleTextImg">
            <h2 class="text">New Product สินค้ามาใหม่</h2>
            <div class="img">
              <img class="responsive" src="~/assets/img/title-img/head1.png" alt="dd">
            </div>
          </div>
          <div class="container">
            <div class="dot-cycle dot-cycle-blue slider-new slider-blueDot">

              <slick ref="slickSliderNewProduct" :options="slickOptionsProduct">
                <li v-for="(items,index) in NewProduct" :key="index">
                  <div class="product new" :title="items.p_name_TH + ' ' + items.p_attr">
                    <div class="wrap-love" @click="loveAdd(items)">
                      <div class="iconActive" v-if="checkLove(items.id)==true">
                        <font-awesome-icon :icon="['fas', 'heart']" />
                      </div>
                      <div class="icon" v-else>
                        <font-awesome-icon :icon="['fal', 'heart']" />
                      </div>
                    </div>
                    <nuxt-link :to="'/Product/'+items.id">
                      <figure class="product_img">
                        <img :src="path+'/Picture/MainProductPicture/'+items.p_img" :alt="items.p_name_TH">
                      </figure>
                      <div class="product_body">
                        <h3 class="title">{{items.p_name_TH.substr(0,40)}} {{items.p_attr}}</h3>
                        <p class="brand">{{items.brand.brand_name_EN}}</p>
                        <div v-html="PriceType(items)"></div>
                      </div>
                    </nuxt-link>
                    <p class="product_btn-buy" @click="basketAdd(items)">
                      <font-awesome-icon :icon="['far', 'shopping-cart']" />
                      <span>{{ $t('cart') }}</span>
                    </p>
                  </div>
                </li>
              </slick>

            </div>
          </div>
        </div>

        <div class="container-fluid p-0">
          <div class="row no-gutters">
            <div v-for="(items,index) in BannerMidPage" :key="index" class="col-12 col-md-6">
              <a :href="items.bh_link" target="_blank">
                <img :src="path+'/Picture/BannerPicture/'+items.bh_img" alt>
              </a>
            </div>
          </div>
        </div>

        <div class="container-fluid wrap-flash" v-show="Flashsale != ''">
          <div class="row">
            <div class="col-12 col-md-3">
              <div class="flash-info">
                <figure>
                  <img src="~/assets/img/flash-sale.png" alt>
                </figure>
                <p class="title">เหลือเวลาช็อปอีก</p>
                <div class="time">
                  <p>{{dateFs.hh}}</p>
                  <p>{{dateFs.mm}}</p>
                  <p>{{dateFs.ss}}</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-9 d-flex align-items-center">
              <div class="d-block dot-cycle-white dot-cycle dot-flash max-100">

                <slick ref="slickSliderFlashsale" :options="slickOptionsFlashsale">
                  <li v-for="(items,index) in Flashsale.flashsale_detail" :key="index">
                    <div class="product flash" href :title="items.product.p_name_TH + ' ' + items.product.p_attr">
                      <div class="wrap-love" @click="loveAdd(items)">
                        <div class="iconActive" v-if="checkLove(items.product.id)==true">
                          <font-awesome-icon :icon="['fas', 'heart']" />
                        </div>
                        <div class="icon" v-else>
                          <font-awesome-icon :icon="['fal', 'heart']" />
                        </div>
                      </div>
                      <nuxt-link :to="'/Product/'+items.product.id">
                        <figure class="product_img">
                          <img :src="path+'/Picture/MainProductPicture/'+items.product.p_img" alt="img name">
                        </figure>
                        <div class="product_body">
                          <h3 class="title">{{items.product.p_name_TH.substr(0,35)}} {{items.product.p_attr}}</h3>
                          <p class="brand">{{items.product.brand.brand_name_EN}}</p>
                          <div class="product_price">
                            <div class="d-flex flex-column justify-content-center">
                              <p class="price">{{formatMoney(items.fsd_price)}} บาท</p>
                              <p class="cut">
                                <span>{{formatMoney(items.product.p_price)}} บาท</span>
                              </p>
                            </div>
                            <p class="sell">-{{CalDiscount(items.fsd_price,items.product.p_price)}}%</p>
                          </div>
                        </div>
                      </nuxt-link>
                      <p class="product_btn-buy" @click="basketAdd(items.product)">
                        <font-awesome-icon :icon="['far', 'shopping-cart']" />
                        <span>{{ $t('cart') }}</span>
                      </p>
                    </div>
                  </li>
                </slick>

              </div>
            </div>
          </div>
        </div>

        <div class="wrap-hotSider" v-show="HotProduct.length != 0">
          <div class="container titleTextImg">
            <h2 class="text">Hot Product สินค้ามาแรง</h2>
            <div class="img">
              <img src="~/assets/img/title-img/hotProduct.png" alt>
            </div>
          </div>
          <div class="container">
            <div class="dot-cycle slider-hot slider-blueDot">

              <slick ref="slickSliderHotProduct" :options="slickOptionsProduct">
                <li v-for="(items,index) in HotProduct" :key="index">
                  <div class="product hot" :title="items.p_name_TH + ' ' + items.p_attr">
                    <div class="wrap-love" @click="loveAdd(items)">
                      <div class="iconActive" v-if="checkLove(items.id)==true">
                        <font-awesome-icon :icon="['fas', 'heart']" />
                      </div>
                      <div class="icon" v-else>
                        <font-awesome-icon :icon="['fal', 'heart']" />
                      </div>
                    </div>
                    <nuxt-link :to="'/Product/'+items.id">
                      <figure class="product_img">
                        <img :src="path+'/Picture/MainProductPicture/'+items.p_img" :alt="items.p_name_TH">
                      </figure>
                      <div class="product_body">
                        <h3 class="title">{{items.p_name_TH.substr(0,40)}} {{items.p_attr}}</h3>
                        <p class="brand">{{items.brand.brand_name_EN}}</p>
                        <div v-html="PriceType(items)"></div>
                      </div>
                    </nuxt-link>
                    <p class="product_btn-buy" @click="basketAdd(items)">
                      <font-awesome-icon :icon="['far', 'shopping-cart']" />
                      <span>{{ $t('cart') }}</span>
                    </p>
                  </div>
                </li>
              </slick>

            </div>
          </div>
        </div>

        <div class="wrap-recommend">
          <div class="container titleTextImg">
            <h2 class="text">Recommend For You แนะนำสำหรับคุณ</h2>
            <div class="img">
              <img src="~/assets/img/title-img/recommandProduct.png" alt class="responsive">
            </div>
          </div>
          <div class="container-fluid">
            <div class="row no-gutters">
              <div class="col-12 col-md-4 index-news" v-for="(items,index) in BannerRecommended" :key="index">
                <a :href="items.bh_link" target="_blank">
                  <img class="responsive center" :src="path+'/Picture/BannerPicture/'+items.bh_img" alt>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="wrap-promotion">
          <div class="container titleTextImg">
            <h2 class="text">Product Promotion สินค้าโปรโมชั่น</h2>
            <div class="img">
              <img src="~/assets/img/title-img/midYear.png" alt class="responsive">
            </div>
          </div>
          <div class="container">
            <div class="dot-cycle dot-cycle-blue slider-new slider-blueDot">

              <slick ref="slickSliderPromoProduct" :options="slickOptionsProduct">

                <li v-for="(items,index) in 8" :key="index">
                  <div class="product sale" href>
                    <div class="wrap-love" @click="loveAdd(items)">
                      <div class="iconActive" v-if="checkLove(items.id)==true">
                        <font-awesome-icon :icon="['fas', 'heart']" />
                      </div>
                      <div class="icon" v-else>
                        <font-awesome-icon :icon="['fal', 'heart']" />
                      </div>
                    </div>
                    <nuxt-link to="/">
                      <figure class="product_img">
                        <img src="https://via.placeholder.com/250" alt="img name">
                      </figure>
                      <div class="product_body">
                        <h3 class="title">title product</h3>
                        <p class="brand">brand title</p>
                        <div class="product_price">
                          <div class="d-flex flex-column justify-content-center">
                            <p class="price">300 บาท</p>
                            <p class="cut">
                              <span>300 บาท</span>
                            </p>
                          </div>
                          <p class="sell">-10%</p>
                        </div>
                      </div>
                    </nuxt-link>
                    <p class="product_btn-buy" @click="basketAdd(items)">
                      <font-awesome-icon :icon="['far', 'shopping-cart']" />
                      <span>{{ $t('cart') }}</span>
                    </p>
                  </div>
                </li>
              </slick>

            </div>
          </div>
        </div>

        <div class="wrap-brandSlider">
          <div class="container titleTextImg">
            <h2 class="text">Brands แบรน</h2>
            <div class="img">
              <img src="~/assets/img/title-img/head5.png" alt>
            </div>
          </div>
          <div class="container">
            <div class="dot-cycle dot-cycle-borderGray slider-brand">

              <slick ref="slickSliderBrand" :options="slickOptionsBrand">
                <li v-for="(items,index) in Brand" :key="index">
                  <nuxt-link :to="'/brand/'+items.id">
                    <img :src="path+'/Picture/BrandPicture/'+items.brand_img" alt>
                  </nuxt-link>
                </li>
              </slick>

            </div>
          </div>
        </div>

        <div class="wrap-blog">
          <div class="container-fluid">
            <div class="container titleTextImg">
              <h2 class="text">Beauty New ข่าวสาร</h2>
              <div class="img">
                <img src="~/assets/img/title-img/newBlog.png" alt>
              </div>
            </div>
            <div class="row">
              <div v-for="(items,index) in News.slice(0,3)" :key="index" class="col-12 col-md-4">
                <nuxt-link :to="'/Blog/'+items.id" class="thumBlog pink news-blog">
                  <figure>
                    <img src="https://via.placeholder.com/300x300" alt v-if="items.news_img == null">
                    <img :src="path+'/Picture/NewsPicture/'+items.news_img" alt v-else>
                  </figure>
                  <p class="date">{{formatDate(items.created_at)}}</p>
                  <p class="description">{{items.news_title_TH.substr(0,150)}}</p>
                </nuxt-link>
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid list-about">
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="box">
                <div class="icon">
                  <font-awesome-icon :icon="['far', 'clock']" />
                </div>
                <div>
                  <h5 class="title">24/7 SUPPORT</h5>
                  <p class="des">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                    eget dolor.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-4">
              <div class="box">
                <div class="icon">
                  <font-awesome-icon :icon="['far', 'usd-circle']" />
                </div>
                <div>
                  <h5 class="title">24/7 SUPPORT</h5>
                  <p class="des">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                    eget dolor.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="box">
                <div class="icon">
                  <font-awesome-icon :icon="['far', 'dolly-flatbed-alt']" />
                </div>
                <div>
                  <h5 class="title">24/7 SUPPORT</h5>
                  <p class="des">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                    eget dolor.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </no-ssr>
</template>

<script>
  import {
    mapState
  } from "vuex";
  import {
    mapGetters
  } from "vuex";
  export default {
    async fetch(context) {
      await context.store.dispatch("Product/getProduct");
      await context.store.dispatch("Product/getBrand");
      await context.store.dispatch("Banner/getBanner");
      await context.store.dispatch("News/getNews");
      await context.store.dispatch("Promotion/getFlashsale");
    },
    data() {
      return {
        slickOptionsSlider: {
          arrows: false,
          dots: true,
          autoplay: false,
          draggable: true,
          swipe: true
          // Any other options that can be got from plugin documentation
        },
        slickOptionsProduct: {
          slidesToShow: 4,
          slidesToScroll: 1,
          autoplay: true,
          dots: true,
          arrows: false,
          draggable: true,
          swipe: true,
          responsive: [{
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              dots: true,
              arrows: false
            }
          }]
        },
        slickOptionsFlashsale: {
          slidesToShow: 4,
          slidesToScroll: 1,
          autoplay: true,
          dots: true,
          arrows: false,
          draggable: true,
          swipe: true,
          responsive: [{
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              dots: true,
              arrows: false
            }
          }]
        },
        slickOptionsBrand: {
          slidesToShow: 6,
          slidesToScroll: 1,
          autoplay: true,
          dots: true,
          arrows: false,
          draggable: true,
          swipe: true
        },
        datenow: "",
        dateFs: {
          hh: "00",
          mm: "00",
          ss: "00"
        }
      };
    },
    mounted() {
      this.time();
    },
    computed: {
      ...mapState({
        Brand: state => state.Product.brand,
        BannerSlide: state => state.Banner.bannerSlide,
        BannerTopPage: state => state.Banner.bannerTopPage[0],
        BannerMidPage: state => state.Banner.bannerMidPage,
        BannerRecommended: state => state.Banner.bannerRecommended,
        Flashsale: state => state.Promotion.flashsale
      }),
      ...mapGetters({
        HotProduct: "Product/hotProduct",
        NewProduct: "Product/newProduct",
        News: "News/newsPublic"
      })
    },
    methods: {

    },
    beforeDestroy() {
      this.$refs.slickSlider.destroy();
      this.$refs.slickSliderNewProduct.destroy();
      this.$refs.slickSliderFlashsale.destroy();
      this.$refs.slickSliderHotProduct.destroy();
      this.$refs.slickSliderPromoProduct.destroy();
      this.$refs.slickSliderBrand.destroy();
    }
  };

</script>

<style>
</style>
