<template>
  <no-ssr>
    <div>
      <header class="banner">
        <h2 class="title">
          {{$t('foot.brand')}}
        </h2>
      </header>
      <bread-crumb :des="$t('foot.brand')"></bread-crumb>
      <div class="container">
        <div class="list-chartBrand">
          <a v-for="(fil,index) in filter" :key="index" :class="{active:checkActive(fil)}" @click="fillClick(fil)">
            {{fil}}
          </a>
        </div>
      </div>
      <div class="container list-brand">
          <paginate v-if="paginateShow" ref="paginator" name="FilterList" :list="FilterList" :per="30" class="row no-gutters">
            <div v-for="(items,i) in paginated('FilterList')" :key="i" class="col-6 col-md-3 col-lg-2">
              <nuxt-link :to="`/Brand/${items.id}`" :title="items.brand_name_EN">
                <img :src="path+'/Picture/BrandPicture/'+items.brand_img" alt="">
              </nuxt-link>
            </div>
          </paginate>
      </div>
      <div class="container">
        <div class="d-flex justify-content-center">
          <paginate-links class="pagination" for="FilterList" :limit="5" :show-step-links="true" :async="true"></paginate-links>
        </div>
      </div>
    </div>
  </no-ssr>
</template>

<script>
  import Breadcrumb from '~/components/breadcumb.vue'
  export default {
    async fetch(context) {
      await context.store.dispatch('Product/getBrand');
    },
    components: {
      'bread-crumb': Breadcrumb
    },
    data() {
      return {
        paginate: ['FilterList'],
        search: '',
        filter: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't',
          'u', 'v', 'w', 'x', 'y', 'z'
        ],
        paginateShow: false
      }
    },
    computed: {
      FilterList() {
        return this.Brand.filter(post => {
          return post.brand_name_EN.toLowerCase().substr(0, 1).includes(this.search.toLowerCase())
        })
      },
      Brand() {
        let store = this.$store.state.Product.brand;
        return store;
      }
    },
    watch: {
      paginate(val) {
        this.paginateShow = true
      }
    },
    methods: {
      fillClick(text) {
        this.search = text;
      },
      checkActive(text) {
        if (this.search === text) {
          return true
        } else {
          return false
        }
      }
    },
    updated() {
      try {
        let currentPage = this.$refs.paginator.currentPage;
        let list = this.$refs.paginator.list;
        if (currentPage < 0 && list.length != 0) {
          this.$refs.paginator.goToPage(1);
        }
      } catch (Exception) {}
    },
    scrollToTop: true
  }

</script>

<style>
  .left-arrow,
  .right-arrow,
  .number {
    cursor: pointer;
  }

</style>
